.contact {
    text-align: center;
}

form {
    text-align: center;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid blue;
}

.Hours {
    text-align: center;
    background-color: black;
    color: white;
}
.info {
    text-align: center;
    border: 8px green;
}
.con{
    text-align: center;
}